spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQLDialect
    show-sql: true

logging:
  level:
    feign: DEBUG
    feign.Logger: DEBUG
    com.your.package: DEBUG

ias:
  id: ${IAS_ID}
  secret: ${IAS_SECRET}